{% extends 'base.html.twig' %}

{% block title %}Super Menu!{% endblock %}

{% block body %}

    <div class="container p-2 my-2 border border-dark rounded">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
